<section class="banner-slide">
  <div class="container fix-width">
    <div class="row">
      <div class="col-md-9">
        <div class="swiper swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{{url_for('static',filename='images/banner-iphone.jpg')}}" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static',filename='images/banner-apple-watch.jpg')}}" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static',filename='images/banner-ipad.jpg')}}" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static',filename='images/banner-macbook.jpg')}}" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static',filename='images/banner-phu-kien.jpg')}}" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-item-banner">
          <img src="{{url_for('static',filename='images/banner-trai-1.png')}}" alt="">
          <img src="{{url_for('static',filename='images/banner-trai-1.png')}}" alt="">
          <img src="{{url_for('static',filename='images/banner-trai-1.png')}}" alt="">
        </div>
      </div>
      <div class="col-md-12">
        <img src="{{url_for('static',filename='images/km-o-Special_Banner_1200x75_6.jpg')}}" alt="">
      </div>
    </div>
  </div>
</section>