{% extends 'home/layout/layout.html' %}
{% block title%} Tin công nghệ {% endblock %}
{% block body_class %}home{% endblock %}
{% block content %}
<section class="tintuc">
    <div class="container fix-width">
        <div class="row">
            <div class="col-md-7">
                <div class="box-tintuc-slide">
                    <img src="{{url_for('static',filename='images/cach-an-ung-dung-tren-iphone-2.jpg')}}" alt="">
                    <div class="text-sm">
                        <span>tin công nghệ</span>
                    </div>
                    <div class="text-l">
                        <h5>Cách ẩn ứng dụng trên IPhone</h5>
                    </div>
                    <div class="line-b"></div>
                </div>
                <div class="box-slide-bottom">
                    {% for item in range(3)%}
                    <div class="col-md-4">
                        <img src="{{url_for('static',filename='images/cach-an-ung-dung-tren-iphone-2.jpg')}}" alt="">
                        <h4>Tìm hiểu ngay cách chia đôi màn hình IPhone cực nhanh chóng</h4>
                        <div class="line-slide"></div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-5">
                <div class="box-tintuc-right">
                    <h3>Mở hộp/Trên tay nhanh</h3>
                    {% for a in range(5) %}
                    <div class="box-tintuc-list">
                        <div class="col-md-7">
                            <h4>Cận cảnh OPPO Reno6 phiên bản màu "Tím Mộng Mơ",đẹp hơn IPhone 12.</h4>
                            <div class="date-tintuc">
                                <i class="fa-solid fa-clock"></i>
                                <span>23/10/2021</span>
                            </div>
                            <div class="line-list"></div>
                        </div>
                        <div class="col-md-5">
                            <img src="{{url_for('static',filename='images/cach-an-ung-dung-tren-iphone-2.jpg')}}"
                                alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tintuc-list-new">
    <div class="container fix-width">
        <div class="row">
            <div class="col-md-8 col">
                <h3>Tin mới nhất</h3>
                {% for a in range(10) %}
                <div class="box-tintuc-list-left">
                    <div class="col-md-4">
                        <img src="{{url_for('static',filename='images/cach-an-ung-dung-tren-iphone-2.jpg')}}" alt="">
                    </div>
                    <div class="col-md-8">
                        <h4>Cận cảnh OPPO Reno6 phiên bản màu "Tím Mộng Mơ",đẹp hơn IPhone 12.</h4>
                        <div class="date-tintucs">
                            <i class="fa-solid fa-clock"></i>
                            <span>23/10/2021</span>
                        </div>
                        <div class="line-list"></div>
                        <span class="text-news-new">Có rất nhiều trường hợp người dùng vô tình óa bỏ đi những hình ảnh đang lưu trữ trong mục
                            Ảnh trên IPhone. Lúc này đây bạn mới chợt nhớ ra là mình cần phải sử dụng những hình ảnh này
                            thì những thông tin</span>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="col-md-4 col">
                <div class="box-tintuc-right">
                    <h3>Đánh giá</h3>
                    {% for a in range(8) %}
                    <div class="box-tintuc-list">
                        <div class="col-md-7">
                            <h4>Cận cảnh OPPO Reno6 phiên bản màu "Tím Mộng Mơ",đẹp hơn IPhone 12.</h4>
                            <div class="date-tintuc">
                                <i class="fa-solid fa-clock"></i>
                                <span>23/10/2021</span>
                            </div>
                            <div class="line-list"></div>
                        </div>
                        <div class="col-md-5">
                            <img src="{{url_for('static',filename='images/cach-an-ung-dung-tren-iphone-2.jpg')}}"
                                alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="box-tintuc-bottom">
                    <div class="title-bottom">
                        <h3>Sản phẩm</h3>
                    </div>
                    {% for b in range(7)%}
                    <div class="tintuc-list-bottom">
                        <div class="col-md-3">
                            <img src="{{url_for('static', filename='images/MACBOOK-AIR-GRAY.jpg')}}" alt="">
                        </div>
                        <div class="col-md-9">
                            <span class="name-product">Macbook Pro 16" 2020 i9 - 1TB | Chính hãng Apple</span>
                            <div class="star-rate">
                                {% for b in range(5) %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star"
                                    width="14" height="14" viewBox="0 0 24 24" stroke-width="1" stroke="#ffa500"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                                </svg>
                                {% endfor %}
                            </div>
                            <span class="price-bottom">66.790.000 VND</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}