{% extends 'home/layout/layout.html' %}
{% block title%} Tin công nghệ {% endblock %}
{% block body_class %}home{% endblock %}
{% block content %}
<section class="tintuc-detail">
    <div class="row">
        <div class="col-md-12">
            <div class="title-detail">
                <h5>tin công nghệ</h5>
                <span>Cách chia sẻ Wifi trên IPhone cực đơn giản</span>
                <div class="line-detail"></div>
                <p>posted on 26/06/2022 by LDL PHONES</p>
            </div>
        </div>
    </div>
</section>
<section class="content-tintuc">
    <div class="container fix-width">
        <div class="row">
            <div class="col-md-8 col">
                <div class="content">
                    <header id="header">
                        <div class="header-box">
                            <i class="fa-solid fa-list-ol"></i>
                            <span>
                                Nội dung bài viết
                            </span>
                            <button>
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                        </div>
                        <ol>
                            <li><a href="">
                                    Tìm hiểu ngay cách chia sẻ wifi trên IPhone
                                </a></li>
                            <li>
                                <a href="">Học ngay cách chia sẻ WiFi trên IPhone cực đơn giản</a>
                            </li>
                            <li>
                                <a href="">Tìm hiểu cách thức hoạt động các tính năng này trên IPhone</a>
                            </li>
                            <li>
                                <a href="">Bạn đã biết cách chia sẻ wifi trên IPhone nhưng thiết bị của bạn gặp lỗi
                                    không thể thực hiện</a>
                            </li>
                        </ol>
                    </header>

                </div>
                <div class="content-detail-tintuc">
                    <p>Hiện nay việc sử dụng Wifi để lên mạng internet bằng iPhone là vấn đề vô cùng phổ biến. Bởi vì
                        việc đến các địa điểm như nhà hàng, quán café hay đến nhà một ai khác việc sử dụng Wifi tại nơi
                        mới là điều hết sức hiển nhiên. Ở những trường hợp này việc tìm hiểu <strong>cách chia sẻ wifi
                            trên
                            iPhone</strong> là điều vô cùng hợp lý. Điều này sẽ giúp bạn có thể nhanh chóng truy cập
                        wifi mà không
                        cần phải nhập mật khẩu wifi thủ công.</p>
                    <p>
                        Tất nhiên nếu người dùng iPhone có đăng ký gói cước 3G, 4G thì vẫn có thể truy cập được mạng
                        internet. Tuy nhiên, wifi vẫn cho phép bạn sử dụng mạng internet nhanh chóng và tiết kiệm pin
                        điện thoại nhất. Thế nên bạn đừng bỏ qua những thông tin hữu ích sau đây nhé. Những thông tin
                        sau đây sẽ giúp cho thiết bị iPhone của bạn có thể đăng nhập wifi nhanh nhất.</p>
                    <h4>Tìm hiểu ngay cách chia sẻ wifi trên IPhone</h4>
                    <p>Cần phải thỏa điều kiện gì để có thể chia sẻ Wifi trên thiết bị iPhone? Để có thể thực hiện được
                        việc chia sẻ wifi trên thiết bị iPhone thì cần phải thỏa mãn những điều kiện sau:</p>
                    <ul>
                        <li>Đầu tiên bạn cần đặt 2 chiếc iPhone gần nhau và cả 2 thiết bị này đều phải được mở khóa màn
                            hình.</li>
                        <li>Thứ 2: cả 2 thiết bị đều được bật tính năng kết nối Wifi và kết nối Bluetooth, trong đó thì
                            1 chiếc iPhone đã được kết nối sẵn với mạng wifi.</li>
                        <li>Thứ 3: Người dùng cần xem lại địa chỉ email được sử dụng với tính năng ID Apple ứng với việc
                            được lưu trong danh bạ của cả 2 thiết bị hay không.</li>
                        <li>Thứ 4: cả 2 máy đều phải được đăng nhập iCloud</li>
                        <li>Thứ 5: Bạn cần đảm bảo được rằng cả 2 máy đều sở hữu phiên bản iOS mới, cụ thể là từ iOS 11
                            trở về sau.</li>
                    </ul>
                    <p>Nếu người dùng iPhone chưa có tài khoản email, iCloud hãy tìm hiểu ngay cách đăng ký tài khoản
                        email và đăng nhập miễn phí trên iPhone nhé.</p>
                    <img src="{{url_for('static', filename='images/cach-chia-se-wifi-tren-iphone-1.jpg')}}" alt="">
                    <h4>Học ngay cách chia sẻ WiFi trên IPhone cực đơn giản này</h4>
                    <ul id="ul2">
                        <li>Bước đầu tiên: Người dùng hãy truy cập vào Cài đặt > Chọn Cài đặt chung.</li>
                        <li>Bước thứ 2: Người dùng iPhone hãy tiếp tục chọn vào mục Handoff > Gạt nút để bật Handoff.
                        </li>
                        <li>Bước thứ 3: Bạn hãy bật tính năng kết nối Bluetooth của 2 chiếc iPhone và để thật gần nhau
                            nhé.</li>
                        <li>Bước thứ 4: Bạn hãy bấm vào tính năng WiFi mà iPhone còn lại đã truy cập.</li>
                        <li>Trên iPhone đã được truy cập sẵn Wi-Fi trước đó sẽ hiển thị một thông báo rằng: Bạn có muốn
                            chia sẻ mật khẩu Wi-Fi cho iPhone … đó hay không. Kế tiếp bạn hãy nhấn vào mục Chia sẻ Mật
                            khẩu để có thể chia sẻ mật khẩu wifi tới iPhone còn lại.</li>
                        <li>Bước thứ 5: Sau khi đã chia sẻ wifi thành công cho iPhone đó, iPhone này sẽ hiển thị thông
                            báo Đã chia sẻ thành công mật khẩu WiFi của bạn > Chọn Xong. Bây giờ thiết bị iPhone được
                            chia sẻ đã hoàn toàn có thể sử dụng kết nối mạng Wi-Fi đó như bình thường.</li>
                    </ul>
                    <img src="{{url_for('static', filename='images/cach-chia-se-wifi-tren-iphone-2.jpg')}}" alt="">
                    <strong style="color:black">Xem thêm: <strong>Đâu là cách xóa danh bạ IPhone nhanh chóng và đơn giản
                            nhất</strong></strong>
                    <h4>Tìm hiểu cách thức hoạt động của tính năng này trên iPhone</h4>
                    <p>iOS 11 chính là phiên bản hệ điều hành cho ra mắt tính năng chia sẻ wifi giữa 2 chiếc iPhone với
                        nhau thông qua Bluetooth và thông qua nhận diện tài khoản ID Apple giữa 2 chiếc iPhone được đặt
                        gần nhau.</p>
                    <p>Có thể thấy rằng tất cả mật khẩu của mạng wifi đều sẽ được lưu lại ở dạng chuỗi khóa trong thiết
                        bị và người dùng iPhone hoàn toàn có thể dễ dàng chia sẻ chúng tới thiết bị khác cùng hệ sinh
                        thái Apple.</p>
                    <h4>Bạn đã biết cách chia sẻ wifi trên iPhone nhưng thiết bị của bạn gặp lỗi không thể thực hiện?
                    </h4>
                    <p>Nếu như bạn đã thực hiện đầy đủ những bước chỉ dẫn trên mà thiết bị của bạn vẫn không thể chia sẻ
                        wifi hoặc không thể nhìn thấy wifi được chia sẻ thì có vẻ như 1 trong 2 hoặc là cả 2 chiếc
                        iPhone đang gặp trục trặc.</p>
                    <p>Đầu tiên bạn hãy chắc chắn rằng 2 chiếc iPhone được đặt gần nhau và cả 2 đều được nằm trong phạm
                        vi hoạt động của mạng Wifi. Kế tiếp bạn hãy kiểm tra hệ điều hành iOS của 2 iPhone đang là phiên
                        bản nào. Nếu không phải hệ điều hành iOS 11 trở đi thì việc chia sẻ mạng wifi khó mà thực hiện
                        được.</p>
                    <img src="{{url_for('static', filename='images/cach-chia-se-wifi-tren-iphone-3.jpg')}}" alt="">
                    <p style="margin-top: 10px;">Trên đây là cách chia sẻ wifi trên iPhone cực đơn giản mà LDL Phones
                        muốn hướng dẫn bạn đọc. Hy
                        vọng rằng bạn sẽ có thể thực hiện được thành công những thao tác trên nhé.</p>
                    <p>Nếu có còn bất kỳ những thắc mắc gì liên quan đến quá trình sử dụng iPhone nói riêng và các thiết
                        bị thuộc thương hiệu Apple nói chung bạn hãy liên hệ ngay với cửa hàng LDL Phones để được tư vấn
                        chi tiết nhất.</p>
                    <p>Ngoài ra, nếu như bạn có nhu cầu tìm hiểu để mua iPhone chính hãng giá tốt thì hãy đến cửa hàng
                        LDL Phones nhé. Chúng tôi cung cấp iPhone đa dạng dòng máy, đầy đủ phiên bản màu sắc và dung
                        lượng. Ngoài ra LDL Phones còn cung cấp đến bạn <strong>dịch vụ thu mua iPhone cũ</strong> giá
                        cao để bạn có thể lên đời iPhone một cách nhanh chóng nhất.</p>
                </div>
                <h5>LDL Phones - Cửa hàng bán IPhone uy tín tại TPHCM</h5>
                <div class="contact-profile">
                    <span class="text-color">
                        <strong>Địa chỉ:</strong>
                        496 Quang Trung, Phường 10, Gò Vấp, Thành phố Hồ Chí Minh
                    </span><br>
                    <span class="text-color">
                        <strong>Hotline bán hàng:</strong>
                        <a href="">097.42.666.42</a>
                    </span><br>
                    <span class="text-color">
                        <strong>Hotline thu mua:</strong>
                        <a href="">0931.903.068</a>
                    </span><br>
                    <span class="text-color">
                        <strong>Email:</strong>
                        ldlphones.ntt@gmail.com
                    </span><br>
                    <span class="text-color">
                        <strong>Website:</strong>
                        <a href="https://ldlphones.com.vn/">https://ldlphones.com.vn/</a>
                    </span><br>
                    <span class="text-color">
                        <strong>Fanpage:</strong>
                        <a href="https://www.facebook.com/LDLPhones/">https://www.facebook.com/LDLPhones/</a>
                    </span>
                </div>
                <div class="line-end"></div>
                <div class="list-contact-media">
                    <a id="icon-fb" href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a id="icon-ig" href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a id="icon-twitter" href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a id="icon-pinterest" href="">
                        <i class="fa-brands fa-pinterest"></i>
                    </a>
                    <a id="icon-linkedin" href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a id="icon-youtube" href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="mota-ldl">
                    <div class="col-md-2">
                        <img src="{{url_for('static',filename='images/logoldl.png')}}" alt="">
                    </div>
                    <div class="col-md-10">
                        <span>LDL PHONES</span>
                        <p>LDL Phones chuyên cung cấp các sản phẩm IPhone, IPad, Apple Watch, Macbook từ chính hãng cho
                            tới likenew với giá tốt nhất và chất lượng nhất tại TPHCM.</p>
                    </div>
                </div>
                <div class="quest-other">
                    <div class="text-other-left">
                        <div id="div1">
                            <a href="">
                                Năm 2022 rồi nên mua IPhone nào để sử dụng?
                            </a>
                        </div>
                    </div>
                    <div class="border-center"></div>
                    <div class="text-other-right">
                        <div id="div2">
                            <a href="">
                                IPhone Bypass là gì? Cách nhận biết IPhone Bypass
                            </a>
                        </div>
                    </div>
                </div>
                <div class="service-other">
                    <h3>tham khảo thêm dịch vụ của LDLPHONES</h3>
                    <div class="list-service-other">
                        {% for s in range(5) %}
                        <div class="box-service">
                            <div class="col-md-3">
                                <a href="">
                                    <img src="{{url_for('static',filename='images/thu-mua-iphone-cu-9.jpg')}}" alt="">
                                </a>
                            </div>
                            <div class="col-md-9">
                                <a href="">
                                    <h4>thu mua IPhone cũ giá cao tại TPHCM</h4>
                                    <div class="date-tintuc">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>23/10/2021</span>
                                    </div>
                                    <div class="line-list"></div>
                                    <span>
                                        Nội dung bài viết: Thu mua IPhone cũ giá cao tại tphcm chỉ có tại ldlphones,
                                        không
                                        chỗ nào có thể cạnh tranh
                                    </span>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col">
                <div class="list-tintuc-detail">
                    {% for item in range(8)%}
                    <div class="box-tintuc-detail">
                        <div class="col-md-7">
                            <h4>Có thể tải CH Play cho IPhone hay không?</h4>
                            <div class="date-tintuc">
                                <i class="fa-solid fa-clock"></i>
                                <span>23/10/2021</span>
                            </div>
                            <div class="line-list"></div>
                        </div>
                        <div class="col-md-5">
                            <img src="{{url_for('static',filename='images/co-the-tai-ch-play-cho-iphone-hay-khong-1.jpg')}}"
                                alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="box-tintuc-bottom">
                    <div class="title-bottom">
                        <h3>Sản phẩm</h3>
                    </div>
                    {% for b in range(7)%}
                    <div class="tintuc-list-bottom">
                        <div class="col-md-3">
                            <img src="{{url_for('static', filename='images/MACBOOK-AIR-GRAY.jpg')}}" alt="">
                        </div>
                        <div class="col-md-9">
                            <span class="name-product">Macbook Pro 16" 2020 i9 - 1TB | Chính hãng Apple</span>
                            <div class="star-rate">
                                {% for b in range(5) %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star"
                                    width="14" height="14" viewBox="0 0 24 24" stroke-width="1" stroke="#ffa500"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                                </svg>
                                {% endfor %}
                            </div>
                            <span class="price-bottom">66.790.000 VND</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}