.section-home1 {
    padding: 10px 0px 80px 0px;
}

.section-home1 .fix-width h3 {
    color: #EF3F23;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.section-home1 .fix-width .row .col-md-12 {
    padding: 0;
}

.box-product-hotsale {
    height: 100%;
    width: 20%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    background: #FFF;
    border-radius: 15px;
    margin-right: 10px;
}

.content-product-category .fix-width .rows, .section-home1 .fix-width .rows {
    display: none;
}

.section-home1 .fix-width .rows .col-md-12 .box-product-hotsale {
    height: 100%;
    width: 33%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    background: #FFF;
    border-radius: 15px;
    margin-right: 10px;
}

.content-product-category .fix-width .rows .col-md-12 .box-product-hotsale {
    height: 100%;
    width: 32%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    background: #FFF;
    border-radius: 15px;
    margin-right: 10px;
}

.products .box-product-hotsale {
    display: block;
    height: 100%;
    width: 25%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    background: #FFF;
    border-radius: 15px;
    margin-right: 10px;
}

.section-home1 .fix-width .row .col-md-12 {
    display: flex;
    align-items: center;
}

.profile-product-hotsale a, .profile-product-hotsale span, .profile-product-hotsale .star-rate {
    margin: 0;
}

.profile-product-hotsale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.profile-product-hotsale a {
    color: black;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.profile-product-hotsale .price-product-hotsale {
    font-size: 16px;
    color: #F58634;
    font-weight: bold;
    margin: 10px 0px;
    line-height: 1;
}

.profile-product-hotsale .box-hidden {
    font-size: 12px;
    background: #EEEEEE;
    margin-bottom: 5px;
    padding: 5px;
    color: #000;
}

.box-product-hotsale img {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
}

.box-product {
    padding: 40px 0px;
}

.box-product .fix-width .row .col-md-12 {
    padding: 0;
}

.box-content-product {
    background: #FFF;
    width: 100%;
    height: 100%;

}

.box-content-product h3 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 15px;
    font-weight: 700;
}

.list-customer {
    width: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.list-customer img {
    width: 100%;
}

.box-content-product .box-product-hotsale {
    margin: 0px 7px 0px 0px;
    height: auto;
}

.box-content-product .box-product-hotsale:nth-child(5n) {
    margin: 0;
}

.flex-product {
    display: flex;
    align-items: center;
    background: #FFF;
    padding-bottom: 10px;
}

.products {
    gap: 10px;
    display: none;
}

.content-product {
    background: #F58634;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-product h3 {
    margin: 0;
}

.content-product .list-box-category {
    margin: 0px 15px 0px 0px;
}

.list-box-category a {
    color: black;
    font-size: 13px;
    padding: 8px 16px;
    background: #F3F4F6;
    margin-right: 10px;
    border-radius: 10px;
}