.box-item-banner img {
	width: 100%;
	padding: 10px 0px;
	height: 160px;

}

.banner-slide .fix-width .row .col-md-9 {
	height: 470px;
	background: #FFF;
	padding: 0px 20px;
	position: relative;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.banner-slide .fix-width .row .col-md-3 {
	padding: 0;
}

.banner-slide .fix-width .row .col-md-12 {
	padding: 15px 0px;
}

.banner-slide .fix-width .row .col-md-12 img {
	width: 100%;
}

.banner-slide .fix-width .row .col-md-9 img {
	padding-top: 15px;
	width: 100%;
	height: 80%;
	position: absolute;
	top: 0;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-pagination {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0%, 64%) !important;
	width: auto !important;
	margin: 0;
}

.swiper-pagination-bullet {
	padding: 10px;
	border-radius: 0 !important;
	width: 182px !important;
	height: 90px !important;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	color: #000;
	font-weight: 500;
	opacity: 1 !important;
	background: #FFF !important;
}

.swiper-pagination-bullet-active {
	font-weight: 700;
	color: #000;
	border-bottom: 4px solid orange;
}

.swiper-button-prev, .swiper-button-next {
	top: 185px !important;
}