* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: currentColor;
}

.fix-width {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}

.header-bg {
    display: flex;
    align-items: center;
}

.header-bg:nth-child(1) {
    background: #f58634;
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.header-bg:nth-child(2) {
    background: #F1F1F1;
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.header-bg .fix-width {
    padding: 0;
}

.header-main {
    display: flex;
    align-items: center;
}

.header-main .col-md-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main a {
    margin: 0;
}

.form_search {
    padding: 0px 5px;
    margin: 0;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form_search input {
    border: none;

}

.form_search i {
    margin-right: 5px;
}

.list_header {
    display: flex;
    color: white;
    margin-left: 18px;
}

.list_header .list_item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text_list {
    /* width: 60%; */
    margin: 0;
    line-height: 1;
}

.list_header i {
    font-size: 22px;
    margin: 0;
    padding: 0px 10px;
}

.text_list a:hover {
    color: white;

}

.text_list #hotline {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0;
}

.text_list a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: white;
}

.text_list strong {
    font-size: 15px;
}

.text_list:first-letter {
    text-transform: capitalize;
}

.list_item:hover {
    background: #cecece73;
    border-radius: 5px;
}

.list_header_category .list_header_category_ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.list_header_category {
    position: relative;
}

.list_header_category ul li {
    display: flex;
    align-items: center;
    position: relative;
    height: 65px;
}

.list_header_category ul li a {
    padding: 0px 5px;
    font-size: 15px;
    color: rgba(102, 102, 102, .85);
    font-weight: bolder;
}

.list_header_category ul li a:hover {
    color: black;

}

.list_header_category ul li i {
    color: rgba(102, 102, 102, .85);
}

.list_header_category ul li img {
    width: 20px;
    height: 20px;
}

.dropdown-content {
    position: absolute;
    display: none;
    top: 100%;
    padding: 0;
    width: 235px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.dropdown-content li {
    list-style: none;
}


.dropdown-content a {
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding: 8px 3px !important;
    display: block;
    position: relative;
    z-index: 999;
}


.dropdown-content a:hover {
    background: #f58634;
    color: white !important;
}

.dropdown__menu {
    display: none;
    z-index: 999;
    background:#FFF;
    top: 100%;
}
.dropdown__menu ul li{
    height: 40px;
    border-bottom: 1px solid #ECECEC;
}
.dropdown__menu ul li a {
    margin: 0;
    padding: 10px;
    width: 255px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
}

.list_header_category ul li:hover .dropdown__menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    /* transition: all .2s; */
}

.list_header_category ul li:hover .dropdown__menu ul {
    display: block;
    padding: 0;
    /* transition: all .2s; */
}

.list_header_category ul li:hover .dropdown__menu ul li {
    width: 255px;
}

.dropdown__menu-1 {
    display: none;
    margin-left: 100px;
    background:#FFF;
}

.dropdown__menu ul li:hover .dropdown__menu-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
}
.dropdown__menu ul li a:hover{
    background: #f58634;
    color: #fff;
}
footer {
    padding: 10px 0px 35px;
    font-size: 12px !important;
    background: rgba(224, 224, 224)
}

footer .fix-width .row h5 {
    font-size: 14px;
    font-weight: 700;
}

footer .fix-width .row .col-md-3:nth-child(1) {
    margin-top: 10px;
    line-height: 2.5;
}

footer .fix-width .row .col-md-3:nth-child(2) {
    line-height: 2;
}

footer .fix-width .row .col-md-3:nth-child(3) {
    text-transform: capitalize;
    line-height: 1.5;
}

footer .fix-width .row span {
    font-size: 14px;
}

.list-footer-media {
    padding: 15px 0px;
}

.list-footer-media a {
    color: rgba(102, 102, 102, .85);
    padding: 0px 2px;
}

.list-footer-media a:hover {
    color: black;
}

.list-footer-media i {
    font-size: 16px;
}

.list-footer-support {
    display: flex;
    flex-direction: column;

}

.list-footer-support a {
    margin: 0;
    color: black;
    display: flex;
    align-items: center;
    padding: 3px 0px;
    font-size: 14px;
}

.list-footer-support a:hover {
    color: black;
}

.list-footer-support img {
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 5px;
}

.image-footer-payment img {
    width: 100%;
    margin-top: 15px;
}

option {
    font-size: 12px;
    box-shadow: none;
}