.tintuc {
    padding: 40px 0px;
}

.tintuc .fix-width .row .col {
    height: 100%;
}

.box-tintuc-slide img {
    width: 100%;
}

.box-tintuc-slide {
    position: relative;
}

.text-sm, .text-l {
    position: absolute;
}

.text-sm {
    bottom: 45px;
    left: 40px;
}

.text-sm span {
    color: #F1F1F1;
    text-transform: uppercase;
    background: rgb(0, 0, 0, 0.3);
    padding: 2px 5px;
    font-size: 12px;
    opacity: .7;
    font-weight: 600;
    border-radius: 5px;
}

.text-l {
    bottom: 20px;
    left: 40px;
}

.text-l h5 {
    color: #FFF;
    margin: 0;
}

.box-tintuc-slide .line-b {
    position: absolute;
    border-bottom: 1px solid #F1F1F1;
    width: 5%;
    bottom: 10px;
    left: 42px;
}

.line-list {
    border-bottom: 1px solid #CECECE;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 7%;
}

.box-tintuc-right h3, .tintuc-list-new .fix-width .row .col-md-8 h3 {
    color: white;
    background-color: #F58634;
    font-weight: 700;
    font-size: 19px;
    padding: 6px 5px;
}

.box-tintuc-list {
    display: flex;
    align-items: flex-start;
    padding: 5px 0px;
}

.tintuc-list-new {
    padding: 30px 0px 80px 0px;
}

.tintuc .fix-width .row .col-md-5 .box-tintuc-right .box-tintuc-list .col-md-7, .tintuc .fix-width .row .col-md-5 .box-tintuc-right .box-tintuc-list .col-md-5, .tintuc-list-new .fix-width .row .col-md-4 .box-tintuc-right .box-tintuc-list .col-md-7 {
    margin: 0;
}

.box-tintuc-list .col-md-7 h4 {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
}

.date-tintucs {
    color: gray;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.date-tintuc {
    color: gray;
    font-size: 9px;
    font-weight: 300;
}

.box-tintuc-list .col-md-5 img {
    width: 100%;
    padding-left: 25px
}

.tintuc .fix-width .row .col-md-7 .box-slide-bottom .col-md-4 {
    margin: 0;
    padding: 15px 0px;
    width: 31%;
}

.tintuc .fix-width .row .col-md-7 .box-slide-bottom .col-md-4 img {
    width: 100%;
}

.tintuc .fix-width .row .col-md-7 .box-slide-bottom .col-md-4 h4 {
    font-weight: 700;
    font-size: 14px;
    padding: 5px 0px;
}

.line-slide {
    border-bottom: 1px solid #CECECE;
    width: 20%;
    margin: 0;
}

.box-slide-bottom {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-tintuc-list-left .col-md-4, .box-tintuc-list-left .col-md-8 {
    margin: 0;
}

.box-tintuc-list-left {
    display: flex;
    align-items: flex-start;
    padding: 10px 0px;
}

.box-tintuc-list-left .col-md-4 img {
    width: 100%;
    padding-right: 30px;
}

.box-tintuc-list-left .col-md-8 h4 {
    font-size: 16px;
    font-weight: 700;
}

.box-tintuc-list-left .col-md-8 .text-news-new {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3em;
    text-align: justify;
    float: left;
    margin: 0;
    font-size: 12px;
}

.date-tintucs i, .date-tintucs span {
    margin: 0px 2px ;
}

.box-tintuc-bottom .title-bottom {
    border-bottom: 3px solid #F58634
}

.box-tintuc-bottom .title-bottom h3 {
    color: white;
    background: #F58634;
    width: 90px;
    margin: 0;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
}

.tintuc-list-bottom .col-md-3, .tintuc-list-bottom .col-md-9 {
    margin: 0;
}

.tintuc-list-bottom .col-md-3 img {
    width: 100%;
    padding: 10px;
}

.tintuc-list-bottom {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.tintuc-list-bottom .col-md-9 .name-product {
    color: #f58634;
    line-height: 1.3;
    font-size: 13px;
    font-weight: 600;
}

.tintuc-list-bottom .col-md-9 .price-bottom {
    font-weight: 700;
    font-size: 13px;
}
.tintuc-list-new .fix-width .row .col{
    height:100%;
}