<footer class="footer">
    <div class="container fix-width">
        <div class="row">
            <div class="col-md-3">
                <h5>LDL Phones - Cửa hàng bán IPhone uy tín tại TPHCM</h5>
                <span><strong>Địa chỉ:</strong> 496 Quang Trung, Phường 10, Gò Vấp, Thành phố Hồ Chí Minh</span><br>
                <span><strong>Email:</strong> ldlphones.ntt@gmail.com</span><br>
                <span><strong>Thời gian làm việc:</strong> 08:00 - 21:00</span>
                <div class="list-footer-media">
                    <a href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-pinterest"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <span><strong>Hotline & CSKH: 0974.266.642</strong> (7:00 - 21:00)</span><br>
                <span><strong>Thu cũ đổi mới: 0931.903.068</strong> (7:00 - 21:00)</span><br>
                <span><strong>Hỗ trợ kỹ thuật: 0974.166.643</strong> (7:00 - 18:00)</span>
                <div class="list-footer-support">
                    <a href="">
                        <img src="{{url_for('static', filename='images/fanpage.png')}}" alt="">
                        Fanpage Facebook
                    </a>
                    <a href="">
                        <img src="{{url_for('static', filename='images/massenger.png')}}" alt="">
                        Messenger Facebook
                    </a>
                    <a href="">
                        <img src="{{url_for('static', filename='images/zalo.png')}}" alt="">
                        Nhắn tin Zalo
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <span>hình thức thanh toán</span><br>
                <span>chính sách bảo hành</span><br>
                <span>chính sách vận chuyển</span><br>
                <span>trả hàng & hoàn tiền</span><br>
                <span>chính sách bảo mật thông tin</span><br>
                <span>chính sách & quy định chung</span><br>
                <div class="image-footer-payment">
                    <img src="{{url_for('static', filename='images/footer-payment.jpg')}}" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <p>
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLDLPhones%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="340" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>