<header>
    <div class="header-wrapper">
        <div class="header-bg">
            <div class="container fix-width">
                <div class="header-main">
                    <div class="col-md-5">
                        <a href="/">
                            <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                        </a>
                        <div class="form_search">
                            <input type="text" placeholder="Bạn cần tìm gì">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="list_header">
                            <div class="list_item list_item_phone">
                                <i class="fa-solid fa-phone"></i>
                                <div class="text_list">
                                    <a id="hotline" href="tel:0974266642">
                                        hotline bán hàng
                                        <strong>097.42.666.42</strong>
                                    </a>

                                </div>
                            </div>
                            <div class="list_item list_item_phone">
                                <i class="fa-solid fa-phone"></i>
                                <div class="text_list">
                                    <a id="hotline" href="tel:0931903068">
                                        hotline thu mua
                                        <strong>0931.903.068</strong>
                                    </a>
                                </div>
                            </div>
                            <div class="list_item list_item_search">
                                <i class="fa-solid fa-location-dot"></i>
                                <div class="text_list">
                                    <a href="">Tìm kiếm cửa hàng</a>
                                </div>
                            </div>
                            <div class="list_item list_item_product">
                                <i class="fa-solid fa-truck-fast"></i>
                                <div class="text_list">
                                    <a href="">Tra cứu đơn hàng</a>
                                </div>

                            </div>
                            <div class="list_item list_item_cart">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <div class="text_list">
                                    <a href="">Giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-bg">
            <div class="container fix-width">
                <div class="header-category">
                    <div class="list_header_category">
                        <ul class="list_header_category_ul">
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/iphone.png')}}" alt="">
                                <a href="/danh-muc">iPhone</a>
                                <i class="fa-solid fa-angle-down"></i>
                                <ul class="dropdown-content">
                                    <li>
                                        <a id="ip13" href="">IPhone 13 Series</a>
                                        <ul class="dropdown-content">
                                            <li>
                                                <a href="">IPhone 13 Pro Max</a>
                                            </li>
                                            <li>
                                                <a href="">Phone 13 Pro</a>
                                            </li>
                                            <li><a href="">Phone 13</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">IPhone 12 Series</a>
                                        <!-- <ul id="ip12" class="dropdown-content">
                                            <li>
                                                <a href="">IPhone 12 Pro Max</a>
                                            </li>
                                            <li>
                                                <a href="">Phone 12 Pro</a>
                                            </li>
                                            <li><a href="">Phone 12</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="">IPhone 11 Series</a>
                                        <!-- <ul id="ip11" class="dropdown-content">
                                            <li>
                                                <a href="">IPhone 11 Pro Max</a>
                                            </li>
                                            <li>
                                                <a href="">Phone 11 Pro</a>
                                            </li>
                                            <li><a href="">Phone 11</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="">IPhone XS / XS Max</a>
                                    </li>
                                    <li>
                                        <a href="">IPhone X</a>
                                    </li>
                                    <li>
                                        <a href="">IPhone 8</a>
                                    </li>
                                    <li>
                                        <a href="">IPhone 7</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/ipad.png')}}" alt="">
                                <a href="">iPad</a>
                                <i class="fa-solid fa-angle-down"></i>
                                <ul class="dropdown-content">
                                    <li>
                                        <a href="">IPad Pro</a>
                                    </li>
                                    <li>
                                        <a href="">IPad Air</a>
                                    </li>
                                    <li>
                                        <a href="">IPad Mini</a>
                                    </li>
                                    <li>
                                        <a href="">IPad Gen</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/macbook.png')}}" alt="">
                                <a href="">Macbook</a>
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="dropdown-content">
                                    <a href="">Macbook Air</a>
                                    <a href="">Macbook Pro</a>
                                    <a href="">Macbook Pro 2021</a>
                                </div>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/apple-watch.png')}}" alt="">
                                <a href="">Apple Watch</a>
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="dropdown-content">
                                    <a href="">Apple Watch Series 7</a>
                                    <a href="">Apple Watch Series 6</a>
                                    <a href="">Apple Watch SE</a>
                                </div>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/air-pod.png')}}" alt="">
                                <a href="">AirPods</a>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/phu-kien-apple-3.png')}}" alt="">
                                <a href="">Phụ kiện Apple</a>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/icon-menu_08.png')}}" alt="">
                                <a href="">Thu cũ</a>
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="dropdown-content">
                                    <a href="">Thu mua IPhone cũ</a>
                                    <a href="">Thu mua IPad cũ</a>
                                    <a href="">Thu mua Macbook cũ</a>
                                    <a href="">Thu mua Apple Watch cũ</a>

                                </div>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/menu-icon-11.png')}}" alt="">
                                <a href="">Tin công nghệ</a>
                            </li>
                            <li class="list_li">
                                <img src="{{url_for('static', filename='images/menu-icon-12.png')}}" alt="">
                                <a href="">Khuyến mãi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>