{% extends 'home/layout/layout.html' %}
{% block title%} Liên hệ {% endblock %}
{% block body_class %}contact{% endblock %}
{% block content %}
<section class="contact-page">
    <div class="container fix-width">
        <div class="row">
            <div class="col-md-6">
                <div class="circle-i">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <a class="text" href="">tư vấn bán hàng</a>
                <a class="phone" href="">097.42.666.42</a>
            </div>
            <div class="col-md-6">
                <div class="circle-i">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <a class="text" href="">tư vấn bán hàng</a>
                <a class="phone" href="">097.42.666.42</a>
            </div>
        </div>
    </div>
</section>
<section class="contact-profile">
    <div class="container fix-width">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-title">
                    <b></b>
                    <h5>Liên hệ chúng tôi</h5>
                    <b></b>
                </div>
                <h5>LDL Phones - Cửa hàng bán IPhone uy tín tại TPHCM</h5>
                <div class="contact-profile">
                    <span class="text-color">
                        <strong>Địa chỉ:</strong>
                        496 Quang Trung, Phường 10, Gò Vấp, Thành phố Hồ Chí Minh
                    </span><br>
                    <span class="text-color">
                        <strong>Hotline bán hàng:</strong>
                        <a href="">097.42.666.42</a>
                    </span><br>
                    <span class="text-color">
                        <strong>Hotline thu mua:</strong>
                        <a href="">0931.903.068</a>
                    </span><br>
                    <span class="text-color">
                        <strong>Email:</strong>
                        ldlphones.ntt@gmail.com
                    </span><br>
                    <span class="text-color">
                        <strong>Website:</strong>
                        <a href="https://ldlphones.com.vn/">https://ldlphones.com.vn/</a>
                    </span><br>
                    <span class="text-color">
                        <strong>Fanpage:</strong>
                        <a href="https://www.facebook.com/LDLPhones/">https://www.facebook.com/LDLPhones/</a>
                    </span>
                </div>
                <div class="list-contact-media">
                    <a id="icon-fb" href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a id="icon-ig" href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a id="icon-twitter" href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a id="icon-pinterest" href="">
                        <i class="fa-brands fa-pinterest"></i>
                    </a>
                    <a id="icon-linkedin" href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a id="icon-youtube" href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <p><iframe style="border: 0;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15674.789308121295!2d106.6648692!3d10.8344589!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb045d15b7c5f205!2zTERMUGhvbmVzIHwgQ-G7rWEgSMOgbmcgQsOhbiDEkGnhu4duIFRob-G6oWkgaVBob25lIFV5IFTDrW4gVOG6oWkgVFBIQ00!5e0!3m2!1sen!2s!4v1650028705663!5m2!1sen!2s"
                        width="100%" height="390" allowfullscreen="allowfullscreen"
                        data-mce-fragment="1"></iframe><br />
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}